{{ fruits | jason}}
<label>Server name</label>
<input type="text" [(ngModel)]="serverName" class="form-control">
<button class="btn btn-primary"
 [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">
  {{serverName}}
</p>
<ng-template #noServer>
  <p style="color:blue;">
    No server was created!
  </p>
</ng-template>

<div *ngFor="let server of servers"></div>
<input type="text"  #txtFruits>
<button (click)="getNewItem($event, txtFruits)">Get</button>
<p *ngIf="newItemStatus; else noItem">
  {{ txtFruits }}
</p>
<p>{{ txtFruits }}</p>
<ng-template #noItem><p>Nothing Found</p></ng-template>



