<!-- {{ fruits | json}}
<label>Server name</label>
<input type="text" [(ngModel)]="serverName" class="form-control">
<button class="btn btn-primary"
 [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">
  {{serverName}}
</p>
<ng-template #noServer>
  <p style="color:blue;">
    No server was created!
  </p>
</ng-template>

<div *ngFor="let server of servers"></div>
<p *ngIf="newItemStatus; else noItem">
  {{ txtFruits }}
</p> -->

<input type="text" #txtFruits>
<button (click)="getNewItem(txtFruits)">Add</button>
<p class="new-item">{{ txtFruits.value ? ('Newly added item: ' + txtFruits.value) : 'Nothing Found'}}</p>

<p *ngFor="let item of fruits">{{ item }}</p>



