<label>Server name</label>
<input type="text" [(ngModel)]="serverName" class="form-control">
<button class="btn btn-primary"
 [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">
  {{serverName}}
</p>
<ng-template #noServer>
  <p style="color:blue;">
    No server was created!
  </p>
</ng-template>

<div *ngFor="let server of servers"></div>

<button (click)="getNewItem()">Get</button>
<p *ngIf="newItemStatus; else noItem">
  {{ newItemName }}
</p>
<p #noItem>
  Nothing Found
</p>


